[submodule "themes/allegiant"]
	path = themes/allegiant
	url = https://github.com/brycematheson/allegiant
[submodule "themes/hugo-cactus-theme"]
	path = themes/hugo-cactus-theme
	url = https://github.com/digitalcraftsman/hugo-cactus-theme.git
[submodule "themes/lanyon-hugo"]
	path = themes/lanyon-hugo
	url = https://github.com/tummychow/lanyon-hugo
[submodule "themes/hugo-zen"]
	path = themes/hugo-zen
	url = https://github.com/rakuishi/hugo-zen.git
[submodule "themes/steam"]
	path = themes/steam
	url = https://github.com/digitalcraftsman/hugo-steam-theme.git
