@import "colors";

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $background2;
  color: $text;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  overflow-x: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

::selection {
  color: $selectionColor;
  background-color: $selectionBG;
}

$codeFont: Consolas, "Liberation Mono", Menlo, Courier, monospace;

.hljs {
  padding: 1em;
  // Hard-set background colour over theme
  background-color: #f7f7f7;
  font-size: 14px;
  // font-family: $codeFont;
}

code {
  // margin: 0 2px;
  // padding: 3px 5px;
  color: $secondary;
  // border-radius: 2px;
  white-space: inherit;
  font-family: $codeFont;
  font-size: 90%;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  border-left: 4px solid #ddd;
  color: #777;
  font-style: italic;
  font-size: 125%;
  // opacity: 0.75;
}

hr {
  background-color: #e7e7e7;
  height: 4px;
  border: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

a {
  text-decoration: none;
  color: $primary;

  &:visited {
    color: $primary;
  }

  &:hover {
    color: $primaryHover;
  }
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
  font-style: italic;
  color: #777;

  &.active {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    color: white;
    background-color: black;
    z-index: 10000;
  }
}

.img-wrapper {
  &.active {
    opacity: 1;
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;

    background-color: rgba(255,255,255, 1);
    z-index: 9999;
  }
}

img {
  max-width: 100%;
  height: auto;

  &.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    // z-index: 10000;

    &.landscape {
      max-width: 95%;
      height: auto;
    }
    &.portrait {
      max-height: 95%;
      width: auto;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: 100%;
  overflow: auto;

  td, th {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }

  th {
    font-weight: bold;
  }

  tr {
    background-color: #fff;
    border-top: 1px solid #ccc;

    &:nth-child(2n) {
      background-color: #f8f8f8;
    }
  }
}

