@import "colors";

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $background2;
  color: $text;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  overflow-x: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

::selection {
  color: $selectionColor;
  background-color: $selectionBG;
}

$codeFont: Consolas, "Liberation Mono", Menlo, Courier, monospace;

.hljs {
  padding: 1em;
  // Hard-set background colour over theme
  background-color: #f7f7f7;
  font-size: 14px;
  // font-family: $codeFont;
}

code {
  // margin: 0 2px;
  // padding: 3px 5px;
  color: $secondary;
  // border-radius: 2px;
  white-space: inherit;
  font-family: $codeFont;
  font-size: 80%;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  border-left: 4px solid #ddd;
  color: #777;
  font-style: italic;
  font-size: 125%;
  // opacity: 0.75;
}

hr {
  background-color: #e7e7e7;
  height: 4px;
  border: none;
}


a {
  text-decoration: none;
  color: $primary;

  &:visited {
    color: $primary;
  }

  &:hover {
    color: $primaryHover;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: 100%;
  overflow: auto;

  td, th {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }

  th {
    font-weight: bold;
  }

  tr {
    background-color: #fff;
    border-top: 1px solid #ccc;

    &:nth-child(2n) {
      background-color: #f8f8f8;
    }
  }
}

// table {
//   width: 100%;
//   margin: 1em auto;

//   thead {
//     // background-color: $background3;
//     th {
//       padding: 5px;
//       min-width: 80px;
//     }
//   }

//   tbody {
//     border: 1px solid #ddd;

//     tr:nth-child(2n) {
//       background-color: $background3;
//     }
//     td {
//       padding: 5px;
//       vertical-align: text-top;
//     }
//   }
// }

