html, body {
    height: 100%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

h2 {
    margin: 0;
    padding: 20px 0 20px 0;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
